<!--The content below is only a placeholder and can be replaced.-->
<div class="row bodySpoty">
<div *ngIf="identity" class="navigation col-lg-1">

  <h1 class="head-title">
      <span class="fa fa-music" aria-hidden="true"></span>
    <a [routerLink]="['/']">
      {{ title }}!
    </a>
  </h1>

<!-- <span class="btn btn-warning text-right">
  <div>Cerrar Sesion</div> 
</span> -->
<nav id="navigation">
    <a href="#">
        <span class="fa fa-search" aria-hidden="true"></span>
        Buscar
    </a>
    <a [routerLink]="['/artistas',1]" [routerLinkActive]="['actived']">
        <span class="fa fa-star" aria-hidden="true"></span>
        Artistas
    </a>
    <a href="#">
        <span class="fa fa-book" aria-hidden="true"></span>
        Albums
    </a>
</nav>

<nav id="user_logged">  
  <div class="user_image">
    <img id="image-logged" [src]="url + 'get-image-user/' + imageUser">
  </div>

  <span class="identity_name">
           {{saludoUser}}
  </span>

  <!-- <span class="btn btn-warning" (click)="logout()">
      Cerrar Sesion
  </span> -->

  <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
    <span class="fa fa-cog" aria-hidden="true"></span>
    Mis datos
  </a>

  <a (click)="logout()" class="btn-logout">
    <span class="fa fa-sign-out" aria-hidden="true"></span>
    Salir
  </a>


  <!-- <div *ngIf="identity">  
    <div class="container">
      <button class="btn btn-warning float-right" (click)="logout()">
        Cerrar Sesion
      </button>
    </div>

       <span class="font-weight-bold text-left">
         <div class="container text-uppercase" id="identity_name">
              {{saludoUser}}
          </div>
      </span>
      <div class="col-lg-6">

        <a [routerLink]="['/mis-datos']">
            <span class="fa fa-cog" aria-hidden="true"></span>
            Mis datos
        </a>
      </div>
  </div> -->
</nav>

</div>
  <div [hidden]="!identity" class="central col-lg-10">
    <router-outlet></router-outlet>
  </div>

</div>

<!-- vista de logueo -->
<div class="container">

  <div class="row col-lg-11" *ngIf="!identity">
    <div class="col-lg-6">
      <h1>Identificate</h1>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
        <p>
          <label>Correo Electronico:</label>
          <input type="email" class="form-control" 
          #email="ngModel" 
          name="email" 
          [(ngModel)]="user.email"
          required>
          <span *ngIf="!email.valid && email.touched" class="text-warning">
            El email es obligatorio
          </span>
        </p>
        <p>
          <label>Contraseña:</label>
          <input type="password" class="form-control" 
          #password="ngModel"
          name="password"
          [(ngModel)]="user.password"
          required>
        </p>
        
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
           <strong>Error:</strong> {{errorMessage}}
        </div>

        <input type="submit" value="Entrar" class="btn btn-primary">
      </form>
    </div>
  
    <div class="col-lg-6">
      <h1>Registrate</h1>
      <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister();registerForm.reset()"  class="col-md-10">
          <p>
            <label>Nombre:</label>
            <input type="text" class="form-control" 
            #name="ngModel"
            name ="name"
            [(ngModel)]="user_register.name"
            required>
            <span *ngIf="!name.valid && name.touched" class="text-warning">
              El Nombre es obligatorio
            </span>
          </p>

          <p>
            <label>Apellidos:</label>
            <input type="text" class="form-control" 
            #surname="ngModel"
            name="surname"
            [(ngModel)]="user_register.surname"
            required>
            <span *ngIf="!surname.valid && surname.touched" class="text-warning">
              El Apellido es obligatorio
            </span>
          </p>

          <p>
            <label>Correo Electronico:</label>
            <input type="text" class="form-control" 
            #email="ngModel"
            name="email"
            [(ngModel)]="user_register.email"
            required>
            <span *ngIf="!email.valid && email.touched" class="text-warning">
              El email es obligatorio
            </span>
          </p>

          <p>
            <label>Contraseña:</label>
            <input type="password" class="form-control" 
            #password="ngModel"
            name="password"
            [(ngModel)]="user_register.password"
            required>
            <span *ngIf="!password.valid && password.touched" class="text-warning">
              La contraseña es obligatoria
            </span>
          </p>
  
          <input type="submit" value="Registrarse" class="btn btn-primary">

          <div *ngIf="alertRegister">
            <div class="alert alert-danger" role="alert">
              <strong></strong> {{alertRegister}}
           </div>
          </div>

        </form>
    </div>
  </div>
</div>
