html, body {
    margin: 0px;
    height: 100%;
    background: #eee;
}

.actived{
    border-bottom: 4px solid #84BD00;
    padding-bottom: 4px;
}

.bodySpoty{
    height: 100%;
    width: 100%;
    position: fixed;
}

.central{
	height: 100%;
    overflow-y: scroll;
    left: 30px;
}

.seguro{
	margin-top: -32px;
    background: #222326;
    position: absolute;
    height: 40px;
}

.seguro-album{
	margin-top:-41px;
	margin-left: 10px;
}

.seguro-song{
	right: 10px;
	margin-top: -35px;
	background: #eee;
}

.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.navigation{
    text-align: center;
    color: white;
    background: #1c1c1f;
    height: 100%;
}

.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.navigation a:hover{
    color: white;
}

.navigation .fa{
    font-size: 25px;
    display: block;
    width: 100%;
}

#user_logged{
    text-decoration: center;
    background: #1c1c1f;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75%;
}

#user_logged .user_image{
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;
}

#user_logged .user_image img{
    width: 57px;
}

.btn-logout{
    cursor: pointer;
}

.btn-next-prev a{
    cursor: pointer;
    text-decoration: none;
    color: #84BD00;
}

.btn-next-prev a:hover{
    color: rgba(57, 77, 11, 0.795)
}

.artist_image_for_edit img{
    width: 150px;
}

.artist-box{
    padding-top: 25px;
}

/* DETALLE DE ARTISTA Y ALBUM */

#artist-head-card .image,
#album-head-card .image{
	width: 170px;
	height: 170px;
	overflow: hidden;
	float: left;
	margin-right: 30px;
}

#artist-head-card .image img,
#album-head-card .image img{
	height: 170px;
}

/* ARTISTAS Y ALBUMS */

.artist_image_for_edit img,
.album_image_for_edit img{
	width: 150px;
}

.artist-list,
.album-list{
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	list-style: none;
	min-height: 400px;
}

.artist-item,
.album-item{
    width: 24%;
	margin: 0px;
	padding: 0px;
	height: 330px;
	border: 1px solid #444;
    background: #222326;
    margin-left: 8px;
}

.artist-item .artist-image,
.album-item .album-image{
	height: 245px;
	width: 100%;
	overflow: hidden;
	background: black;
}

.artist-item .artist-image img{
	height: 100%;
}

.artist-item .artist-name,
.album-item .album-name{
	color: white;
	padding: 10px;
	background: #222326;
}

.artist-item .artist-name a,
.album-item .album-name a{
	color: white;
}

@media (min-width: 992px){
.col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 23%;
}
}